$error-color: #dd4b39;
$warning-color: #f39c12;
$info-color: #00c0ef;

.required {
  color: $error-color;
  vertical-align: super;
}

.bg-info{
    background: $info-color !important;
}
.bg-warning{
    background: $warning-color !important;
}
.bg-error{
    background: $error-color !important;
}

.box-table-filter {
    padding: 10px 0;
    border-bottom: 1px solid #d2d6de;
    display: inline-block;
    width: 100%;
    * {
        font-size: 10pt !important;
    }
    .filter-label{
        float:left !important;
        margin-top: 4px;
    }
    input,select {
        height: 2.1em;
    }
    
}
